/*---------- btn ----------*/
$btn-back: #96c11f;
$btn-back-hover: #7a9e1b;
$btn-back-active: #658618;
$btn-color: #fff;
$btn-color-active: #fff;
/*---------- /btn ---------*/

/*---------- login-site ---------*/
$login-site-back: #fff;
$login-site-shadow: rgba(0,0,0,0.06);
$login-site-lost-pass-border: #f3f5f7;
$login-site-lost-pass-color: #a5b2be;
$login-site-lost-pass-color-hov: #a5b2be;
/*---------- /login-site ---------*/

/*---------- site ---------*/
$site-back: #f3f5f7;
$site-color: #a5b2be;
$site-label-color: #c3d0dc;
$site-input-color: #a5b2be;
$site-input-border-color: #d1dbe4;
$site-input-focus-color: #444444;
$site-input-autofill-shadow: rgba(255, 255, 255, 1);
$site-input-focus-border-color: #96c11f;
$site-powered-color: #96c11f;
/*---------- /site ---------*/